{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">


      <h2>{% trans "Sign In" %}</h2>
      <h1>My Site</h1>
      <div class="authentication">
        {% if user.is_authenticated %}
          {% browserid_logout text='Logout' %}
        {% else %}
          {% browserid_login text='Login' color='dark' %}
        {% endif %}
      </div>
     </div>
  </div>
</div>
{% endblock %}
{% endraw %}
